<h1 style="color:#2E86C1; text-align:center;"> Data Cleaning on Titanic Dataset</h1>

<h2 style="color:#117A65;">ðŸ”¹ Step 1: Import Libraries</h2>

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

<h2 style="color:#117A65;">ðŸ”¹ Step 2: Load Dataset</h2>

In [3]:
# Titanic dataset (Kaggle version hosted on GitHub or Drive)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Preview
def style_table(df, bg_color="#20B2AA"):
    return df.style.set_table_styles(
        [{'selector': 'th', 'props': [('background-color', bg_color),
                                      ('color', 'white'),
                                      ('border', '1px solid black'),
                                      ('padding', '8px'),
                                      ('font-weight', 'bold')]},
         {'selector': 'td', 'props': [('border', '1px solid black'),
                                      ('padding', '8px')]}]
    ).set_properties(**{'text-align': 'center'})

display(style_table(df.head()))

<h2 style="color:#117A65;">ðŸ”¹ Step 3: Check Missing Values</h2>

In [4]:
missing = df.isnull().sum()
missing = missing[missing > 0]

styled_missing = missing.to_frame("Missing Values").style.set_table_styles(
    [{'selector': 'th', 'props': [('background-color', '#F5B7B1'),
                                  ('color', 'black'),
                                  ('border', '1px solid black'),
                                  ('padding', '8px'),
                                  ('font-weight', 'bold')]},
     {'selector': 'td', 'props': [('border', '1px solid black'),
                                  ('padding', '8px')]}]
)

display(styled_missing)

<h2 style="color:#117A65;">ðŸ”¹ Step 4: Handle Missing Values</h2>

In [5]:
# Fill missing 'Age' with median
df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill missing 'Embarked' with mode
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop 'Cabin' column (too many missing)
df.drop(columns=['Cabin'], inplace=True)

print("\033[1;34mMissing values handled successfully!\033[0m")

Missing values handled successfully!

/tmp/ipython-input-2808779047.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-2808779047.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

<h2 style="color:#117A65;">ðŸ”¹ Step 5: Check for Duplicates</h2>

In [6]:
duplicates = df.duplicated().sum()
print(f"\033[1;34mTotal Duplicates: {duplicates}\033[0m")


df.drop_duplicates(inplace=True)
print("\033[1;34m  Duplicates removed!\033[0m")

Total Duplicates: 0
  Duplicates removed!

<h2 style="color:#117A65;">ðŸ”¹ Step 6: Encode Categorical Columns</h2>

In [7]:
# Label Encoding for "Sex"
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# One-hot Encoding for "Embarked"
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

print("\033[1;34m Categorical values converted to numeric!\033[0m")

 Categorical values converted to numeric!

<h2 style="color:#117A65;">ðŸ”¹ Step 7: Preview Cleaned Dataset</h2>

In [8]:
display(style_table(df.head()))

<h2 style="color:#117A65;">ðŸ”¹ Step 8: Summary After Cleaning</h2>

In [9]:
from IPython.display import HTML

summary_data = {
    "Column Names": [df.columns.tolist()],
    "Shape": [df.shape],
    "Data Types": [df.dtypes.to_dict()]
}

summary_html = """
<h3 style="color:#117A65;"> Final Summary After Cleaning</h3>
<table style="border-collapse:collapse; border:2px solid black; width:80%; text-align:left;">
  <tr style="background-color:#20B2AA; color:white; font-weight:bold;">
    <th style="padding:8px; border:1px solid black;">Metric</th>
    <th style="padding:8px; border:1px solid black;">Details</th>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Column Names</td>
    <td style="padding:8px; border:1px solid black;">{columns}</td>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Shape</td>
    <td style="padding:8px; border:1px solid black;">{shape}</td>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Data Types</td>
    <td style="padding:8px; border:1px solid black;">{dtypes}</td>
  </tr>
</table>
""".format(columns=df.columns.tolist(), shape=df.shape, dtypes=df.dtypes.to_dict())

display(HTML(summary_html))


summary_after = pd.DataFrame({
    "Metric": ["Rows", "Columns", "Missing Values"],
    "Value": [df.shape[0], df.shape[1], df.isnull().sum().sum()]
})

# Style the summary table
summary_after.style.set_table_styles(
    [
        {"selector": "th",
         "props": [("background-color", "#20B2AA"),
                   ("color", "white"),
                   ("font-weight", "bold"),
                   ("text-align", "center"),
                   ("border", "1px solid black")]},
        {"selector": "td",
         "props": [("border", "1px solid black"),
                   ("padding", "6px"),
                   ("text-align", "center")]}
    ]
).set_properties(**{"background-color": "#E6F2F0"})

In [11]:
# ðŸ”¹ Step 8: Final Summary After Cleaning
from IPython.display import HTML

# --- Numeric Summary ---
summary_after = pd.DataFrame({
    "Metric": ["Rows", "Columns", "Missing Values"],
    "Value": [df.shape[0], df.shape[1], df.isnull().sum().sum()]
})

styled_numeric = summary_after.style.set_table_styles(
    [
        {"selector": "th",
         "props": [("background-color", "#20B2AA"),
                   ("color", "white"),
                   ("font-weight", "bold"),
                   ("text-align", "center"),
                   ("border", "1px solid black")]},
        {"selector": "td",
         "props": [("border", "1px solid black"),
                   ("padding", "6px"),
                   ("text-align", "center")]}
    ]
).set_properties(**{"background-color": "#E6F2F0"})

display(HTML("<h3 style='color:#117A65;'> Numeric Summary</h3>"))
display(styled_numeric)

# --- Detailed Dataset Summary ---
summary_html = """
<h3 style="color:#117A65;"> Detailed Dataset Summary</h3>
<table style="border-collapse:collapse; border:2px solid black; width:90%; text-align:left;">
  <tr style="background-color:#20B2AA; color:white; font-weight:bold;">
    <th style="padding:8px; border:1px solid black;">Metric</th>
    <th style="padding:8px; border:1px solid black;">Details</th>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Column Names</td>
    <td style="padding:8px; border:1px solid black;">{columns}</td>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Shape</td>
    <td style="padding:8px; border:1px solid black;">{shape}</td>
  </tr>
  <tr>
    <td style="padding:8px; border:1px solid black; font-weight:bold;">Data Types</td>
    <td style="padding:8px; border:1px solid black;">{dtypes}</td>
  </tr>
</table>
""".format(columns=df.columns.tolist(), shape=df.shape, dtypes=df.dtypes.to_dict())

display(HTML(summary_html))

In [12]:
# Step 9: Export the Cleaned Dataset
# -----------------------------------
df.to_csv("titanic_cleaned.csv", index=False)

from IPython.display import HTML

export_html = """
<h3 style="color:#117A65;">âœ… Cleaned Dataset Exported</h3>
<p style="font-size:14px;">The cleaned Titanic dataset has been successfully exported as
<strong><code>titanic_cleaned.csv</code></strong> and is ready for further analysis or modeling.</p>
"""

display(HTML(export_html))

<h3 style="color:#117A65;"> ðŸ”¹Export Cleaned Dataset </h3>

In [14]:
df.to_csv("titanic_cleaned.csv", index=False)

print(" Cleaned dataset exported as 'titanic_cleaned.csv'. Ready for further analysis or modeling.")

 Cleaned dataset exported as 'titanic_cleaned.csv'. Ready for further analysis or modeling.